body {
  background: #444444;
  color: #000;
  margin: 0;
  padding: 0;
}

.cards {
  margin: 0 auto;
  max-width: 1200px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 16px;
  font-family: sans-serif;
  padding: 3.5rem 0 0 1rem;
}

.cards a {
  text-decoration: none;
  color: #eee;
}

.poke-card {
  width: 215px;
  height: 250px;
  background: #fffdfdd8;
  border-radius: 11px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.918);
  transition: 0.3s;
}

.poke-card:hover {
  padding: 6px;
  cursor: pointer;
}

.poke-image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.poke-content {
  text-align: center;
  color: #ffffff;
  padding: 35px;
  text-transform: capitalize;
}

.poke-content h1 {
  font-size: 17px;
}

.poke-content span {
  font-size: 14px;
}

.typeimg {
  width: 15px;
  height: 14px;
}

.pokemon-content {
  display: inline-block;
  text-align: center;
  margin: 5rem 0 5rem 0;
  background-color: blue;
  width: 50%;
}

/* index ends */

.container-pokemon {
  background: #ffffffab;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 10rem auto;
  height: 500px;
  width: 1000px;
  display: flex;
}

.pokemon-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
  text-align: center;
  padding: 10px;
}

.pokemon-type-image {
  width: 45%;
}

.pokemon-name {
  font-family: "Bebas Neue", cursive;
  display: block;
  font-size: 25px;
  color: #344055;
  padding: 10px;
  text-transform: uppercase;
}

.pokemon-image {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

/* pagination starts */

.pagination {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-number {
  padding: 12px 17px;
  border-radius: 2px;
  color: #fff;
  background-color: #fff;
}

.pagination-action,
.pagination span {
  margin: 0 2px;
  display: flex;
  padding: 1px 2px;
  color: #fff;
  font-size: 1.3em;
  align-items: center;
}

.pagination-action:hover {
  color: #fd4740;
}
