/* customising the gradient color of the cards */

.poke-card.grass {
  background: linear-gradient(333deg, #52a323 20%, #9ee299 50%);
}

.poke-card.fire {
  background: linear-gradient(333deg, #ff4040 20%, #da7070 50%);
}

.poke-card.water {
  background: linear-gradient(333deg, #276bff 20%, #7995d1 50%);
}

.poke-card.bug {
  background: linear-gradient(333deg, #a6b91a 20%, #c5ca91 50%);
}

.poke-card.normal {
  background: linear-gradient(333deg, #7a7a7a 20%, #a3a3a3 50%);
}

.poke-card.poison {
  background: linear-gradient(333deg, #8336c2 20%, #d1a6ee 50%);
}

.poke-card.electric {
  background: linear-gradient(333deg, #dbbd14 20%, #f0e39a 50%);
}

.poke-card.ground {
  background: linear-gradient(333deg, #836549 20%, #967e68 50%);
}

.poke-card.fairy {
  background: linear-gradient(333deg, #ff45efc9 20%, #fdbff8 50%);
}

.poke-card.fighting {
  background: linear-gradient(333deg, #5a3131 20%, #755252 50%);
}

.poke-card.psychic {
  background: linear-gradient(333deg, #ff2aed 20%, #f0b6eb 50%);
}

.poke-card.rock {
  background: linear-gradient(333deg, #ac9731 20%, #a39b6a 50%);
}

.poke-card.ghost {
  background: linear-gradient(333deg, #491c68 20%, #783e9e 50%);
}

.poke-card.ice {
  background: linear-gradient(333deg, #2c8eff 20%, #91c4ff 50%);
}

.poke-card.dragon {
  background: linear-gradient(333deg, #004d4d 20%, #008080 50%);
}

/* customising body gradient color background */

.background.grass {
  background: linear-gradient(
      236deg,
      rgba(158, 226, 153, 1) 47%,
      rgba(97, 255, 6, 1) 64%,
      rgba(147, 231, 126, 1) 87%
    )
    fixed;
}

.background.fire {
  background: linear-gradient(
      236deg,
      rgba(240, 84, 84, 1) 13%,
      rgba(232, 115, 115, 1) 42%,
      rgba(255, 0, 0, 1) 57%
    )
    fixed;
}

.background.water {
  background: linear-gradient(
      236deg,
      rgba(109, 126, 221, 1) 13%,
      rgba(92, 116, 217, 1) 40%,
      rgba(0, 63, 255, 1) 47%
    )
    fixed;
}

.background.bug {
  background: linear-gradient(
      236deg,
      rgba(197, 202, 145, 1) 14%,
      rgba(197, 202, 145, 1) 42%,
      rgba(166, 185, 26, 1) 46%
    )
    fixed;
}

.background.normal {
  background: linear-gradient(
      236deg,
      rgba(163, 163, 163, 1) 14%,
      rgba(163, 163, 163, 1) 40%,
      rgba(122, 122, 122, 1) 49%
    )
    fixed;
}

.background.poison {
  background: linear-gradient(
      236deg,
      rgba(209, 166, 238, 1) 14%,
      rgba(209, 166, 238, 1) 41%,
      rgba(131, 54, 194, 1) 50%
    )
    fixed;
}

.background.electric {
  background: linear-gradient(
      236deg,
      rgba(240, 227, 154, 0.94859950816264) 14%,
      rgba(240, 227, 154, 0.9934174353335085) 41%,
      rgba(222, 189, 4, 1) 54%
    )
    fixed;
}

.background.ground {
  background: linear-gradient(
      236deg,
      rgba(150, 126, 104, 1) 14%,
      rgba(150, 126, 104, 1) 41%,
      rgba(131, 101, 73, 1) 51%
    )
    fixed;
}

.background.fairy {
  background: linear-gradient(
      236deg,
      rgba(253, 191, 248, 1) 14%,
      rgba(253, 191, 248, 1) 41%,
      rgba(255, 52, 238, 1) 51%
    )
    fixed;
}

.background.fighting {
  background: linear-gradient(
      236deg,
      rgba(117, 82, 82, 1) 14%,
      rgba(117, 82, 82, 1) 41%,
      rgba(90, 49, 49, 1) 51%
    )
    fixed;
}

.background.psychic {
  background: linear-gradient(
      236deg,
      rgba(240, 182, 235, 1) 14%,
      rgba(240, 182, 235, 1) 41%,
      rgba(255, 42, 237, 1) 68%
    )
    fixed;
}

.background.rock {
  background: linear-gradient(
      236deg,
      rgba(181, 175, 137, 1) 25%,
      rgba(181, 172, 118, 1) 35%,
      rgba(156, 136, 38, 1) 44%
    )
    fixed;
}

.background.ghost {
  background: linear-gradient(
      236deg,
      rgba(120, 62, 158, 1) 25%,
      rgba(120, 62, 158, 1) 35%,
      rgba(73, 28, 104, 1) 44%
    )
    fixed;
}

.background.ice {
  background: linear-gradient(
      236deg,
      rgba(145, 196, 255, 1) 25%,
      rgba(145, 196, 255, 1) 35%,
      rgba(44, 142, 255, 1) 43%
    )
    fixed;
}

.background.dragon {
  background: linear-gradient(
      236deg,
      rgba(0, 128, 128, 1) 19%,
      rgba(0, 128, 128, 1) 40%,
      rgba(0, 77, 77, 1) 44%
    )
    fixed;
}

/* single pokemon advance and back buttons color type */

.fa-angles-left.left-page:hover,
.fa-angles-right.right-page:hover {
  font-size: 3rem;
  cursor: pointer;
}

.fa-angles-left.left-page.grass:hover,
.fa-angles-right.right-page.grass:hover {
  color: #52a323;
}

.fa-angles-left.left-page.fire:hover,
.fa-angles-right.right-page.fire:hover {
  color: #ff4040;
}

.fa-angles-left.left-page.water:hover,
.fa-angles-right.right-page.water:hover {
  color: #276bff;
}

.fa-angles-left.left-page.bug:hover,
.fa-angles-right.right-page.bug:hover {
  color: #a6b91a;
}

.fa-angles-left.left-page.normal:hover,
.fa-angles-right.right-page.normal:hover {
  color: #7a7a7a;
}

.fa-angles-left.left-page.poison:hover,
.fa-angles-right.right-page.poison:hover {
  color: #8336c2;
}

.fa-angles-left.left-page.electric:hover,
.fa-angles-right.right-page.electric:hover {
  color: #cfa721;
}

.fa-angles-left.left-page.ground:hover,
.fa-angles-right.right-page.ground:hover {
  color: #836549;
}

.fa-angles-left.left-page.fairy:hover,
.fa-angles-right.right-page.fairy:hover {
  color: #ff45efc9;
}

.fa-angles-left.left-page.fighting:hover,
.fa-angles-right.right-page.fighting:hover {
  color: #5a3131;
}

.fa-angles-left.left-page.psychic:hover,
.fa-angles-right.right-page.psychic:hover {
  color: #ff2aed;
}

.fa-angles-left.left-page.rock:hover,
.fa-angles-right.right-page.rock:hover {
  color: #ac9731;
}

.fa-angles-left.left-page.ghost:hover,
.fa-angles-right.right-page.ghost:hover {
  color: #491c68;
}

.fa-angles-left.left-page.ice:hover,
.fa-angles-right.right-page.ice:hover {
  color: #2c8eff;
}

.fa-angles-left.left-page.dragon:hover,
.fa-angles-right.right-page.dragon:hover {
  color: #004d4d;
}
