<div class="pagination">
  {% if page_obj.has_previous %}
  <a class="pagination-action" href="?page=1">
    <i class="fa-solid fa-angles-left"></i>
  <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}&offset={{offset|add:limit_reverse}}">
    <i class="fa-solid fa-angle-left"></i>
  </a>
  {% endif %}
  
  {% for page in page_obj.paginator.page_range  %}
  
    {% if page_obj.number == page  %}
      <span>{{ page }}</span>
    {% endif %}

  {% endfor %}

  {% if page_obj.has_next %}
      <a class="pagination-action" href="?page={{ page_obj.next_page_number }}&offset={{offset|add:limit}}">
        <i class="fa-solid fa-angle-right"></i>
      </a>
      <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}&offset={{ max_offset }}">
        <i class="fa-solid fa-angles-right"></i>
      </a>
  {% endif %}
</div>